header{
	background:#000055;
	color:#fff;
}
aside {
	background:#AA0000;
	color:#fff;
}
section {
	background:#EEEEEE;
}
.fondo1{
	background:#99CCFF;
}
.info1{
	background:#FFFFFF;
}
img {
    width:100%;
    max-width:340px;
}
